# Виртуальное окружение
.venv/
venv/
env/

# Файлы окружения
.env
.env.*
!.env.example

# Базы данных
*.sqlite3
*.db
db.sqlite3

# Статика Django
/staticfiles/
/media/

# IDE
.idea/
.vscode/

# Логи
*.log

# Временные файлы
*.bak
*.tmp

# Python кэш
__pycache__/
*.py[cod]
.python-version

# Установочные файлы
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Миграции (только кэш, сами миграции оставляем)
*/migrations/__pycache__/

# Тестовые данные
/test_data/
/debug_emails/

# Yandex Cloud CLI (оставляем скрипты, скрываем ключи)
key.json
*.key
install-yc.ps1